<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editando</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>

    <body>
        <div class="container">
            <form action="/editima/" method="post">
                <input type="hidden" name="producto_id" value="<%= imagen.producto_id %>">
                <input type="hidden" value="<%= imagen.id %>" name="id">
                <label for="url">Url</label>
                <input type="text" name="url" id="url" value="<%= imagen.url %>" required maxlength="900" minlength="3">
                <select name="destacado" id="destacado" required>
                    <option value="">--Seleccione--</option>
                    <option value="Si">Si</option>
                    <option value="No">NO</option>
                </select>
                <input type="submit" value="Editar">
            </form>
        </div>

</body>
</html>