<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado de Productos</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/stylecuadricula.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B3XD1E8MZR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-B3XD1E8MZR');
    </script>
</head>
<body>
  <form action="/" method="get">
    <input type="text" name="producto_name" placeholder="Nombre del producto">
    <input type="text" name="description" placeholder="Descripción del producto">
    <select name="category_name">
      <option value=""> Todas las Categorias</option>
      <option value="Lavadorar">Lavadora</option>
      <option value="Televisor">Televisor</option>
      <input type="text" name="brand" placeholder="Modelo">
      <input type="text" name="model" placeholder="Marca">
    </select>
    <input type="submit" value="Aplicar filtros">
  </form>
</body>
</html>
