<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styleini.css">
    <title>Recuperar contraseña</title>
</head>
<body>



    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Recuperar contraseña </h2>
          <a  class="inactive underlineHover" href="/register">Registro</a>
      
      
          <!-- Login Form -->
          <form action="/recuperar" method="post" >
            <input type="email" id="email" class="fadeIn second" name="email" placeholder="Correo Electrónico">            
            <input type="submit" class="fadeIn fourth" value="Recuperar">
          </form>
      
      
        </div>
      </div>
    
</body>
</html>
