<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagar</title>
  <link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <div class="menu logo-nav">
      <a href="/pageini" class="logo">ElectroShop</a>
      <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
    </div>
  </header>
  
  <div class="container-contacto">
  

  <form action="/paga" id="form" method="post">
    <h2>Pagar</h2>
    <br>

    <label for="full-name">Nombre completo</label>
    <input type="text" placeholder="Nombre" name="full-name" value="" required>

    <br>
    
    <label for="card-number">Numero de tarjeta</label>
    <input type="text" placeholder="tarjeta" name="card-number" value="" required>

    <br>

    <label for="expiration-month">Mes de expiracion</label>
    <input type="text" placeholder="Mes" name="expiration-month" value="" required>

    <br>
   
    <label for="expiration-year">Año de expiracion</label>
    <input type="text" placeholder="Año" name="expiration-year" value="" required>

    <br>
    
    <label for="cvv">Cedula</label>
    <input type="text" placeholder="Cedula" name="cvv" value="" required>

    <br>

    <label for="amount">Monto a Pagar</label>
    <input type="text" placeholder="Monto" name="amount" value="" required>
   
    <br>
    <label for="currency">Indique la moneda</label>
    <input type="text" placeholder="moneda" name="currency" value="" required>

    <br>

    <label for="description">Descripcion</label>
    <input type="text" placeholder="descripcion" name="description" value="" required>

    <br>
    <input type="submit" id="button-contacto" value="Pagar" class="button">
  </form>

  </div>


    
</body>
</html>
