<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagar</title>
  <link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <div class="menu logo-nav">
      <a href="/pageini" class="logo">ElectroShop</a>
      <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
    </div>
  </header>
  
  <div class="container-contacto">
  

  <form action="/payments/<%= producto %>/<%= id %>" id="form" method="post">
    <h2>Pagar</h2>
    <h2><%= producto %></h2>
    <br>

    <label for="full-name">Nombre completo</label>
    <input type="text" placeholder="Nombre" name="full_name" value="" required>

    <br>

    <label for="full_name">Correo electrónico</label>
    <input type="email" placeholder="Correo" name="email" value="" required>

    <br>
    
    <label for="card_number">Numero de tarjeta</label>
    <input type="number" placeholder="tarjeta" name="card_number" value="" required>

    <br>

    <label for="expiration_month">Mes de expiracion</label>
    <input type="number" placeholder="Mes" name="expiration_month" value="" required>

    <br>
   
    <label for="expiration_year">Año de expiracion</label>
    <input type="number" placeholder="Año" name="expiration_year" value="" required>

    <br>
    
    <label for="cvv">Cvv</label>
    <input type="number" placeholder="cvv" name="cvv" value="" required>

    <br>

    <label for="amount">Monto a Pagar</label>
    <input type="number" placeholder="Monto" name="amount" value="<%= monto %>" disabled required>
   
    <br>

    <label for="amount">Cantidad</label>
    <input type="number" placeholder="Cantidad" name="count" value="1" required>
   
    <br>

    <label for="currency">Indique la moneda</label>
    <select name="currency" required>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="VES">VES</option>
    </select>
    <br>

    <label for="description">Descripcion</label>
    <input type="text" placeholder="descripcion" name="description" value="" required>

    <br>
    <input type="submit" id="button-contacto" value="Pagar" class="button">
  </form>

  </div>


    
</body>
</html>
