<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styleini.css">
    <title>Inicio</title>
</head>
<body>



    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Inicio </h2>
          <a  class="inactive underlineHover" href="/register">Registro </a>
          <a  class="inactive underlineHover" href="/password">Recuperar</a>
      
          <!-- Login Form -->
          <form action="/pageini" method="post" >
            <input type="email" id="email" class="fadeIn second" name="email" placeholder="Correo Electrónico">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña">
            <input type="submit" class="fadeIn fourth" value="Iniciar">
          </form>
      
      
        </div>
      </div>
    
</body>
</html>
